*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    /* position: relative;  */
}
.container{
    width: 80vw;
    /* height: 80vh; */
    display: flex;
    background: green;
    color: white;
    text-align: center;
     flex-direction: column; 
    justify-content: center;
    align-items: center; 
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

p{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 20px;
}
#bill-amount{
    margin-bottom: 1.7rem;
} 

 #cash-given{
    margin-bottom: 2rem;
}

input{
    max-width: 800px;
    width: 100%;
    padding: 0.7rem;
    text-align: center;
}

#btn{
    padding: 0.5rem 1rem;
    margin: auto;
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    /* margin-bottom: 1rem; */
}

caption{
    margin-bottom: 1rem;
    font-size: 20px;
}
table{
    width: 80%;
    margin-bottom: 2rem;
    border-collapse: collapse;
}

td, th{
    text-align: left;
    padding: 0.5rem; 
    border: 1px solid white;
}

